.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  justify-items: center;
  row-gap: 50px;
  column-gap: 30px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  
  @media (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
    row-gap: 37px;
    column-gap: 20px;
  }
  
  @media (max-width: 320px) {
    grid-template-columns: repeat(2, 1fr); 
    row-gap: 50px;
    column-gap: 15px;
  }
}

.product-card {
  width: 100%;
  max-width: 263px;  
  height: 310px;  
  border-radius: 38px;  
  background: rgba(255, 255, 255, 0.4); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  @media (max-width: 768px) {
    width: 100%;
    max-width: 200px;  
    height: 280px;
    border-radius: 30px;
  }

  @media (max-width: 480px) {
    width: 100%;
    max-width: 180px;  
    height: 180px;
    border-radius: 25px;
  }

  @media (max-width: 320px) {
    width: 100%;
    max-width: 160px;  
    height: 150px;
    border-radius: 20px;
  }
}

.product-img {
  margin-top: -60px; 
  border-radius: 50%;
  width: 214px;  
  height: 199px; 
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 768px) {
    width: 130px;
    height: 130px;
  }

  @media (max-width: 480px) {
    width: 120px;
    height: 120px;
  }

  @media (max-width: 320px) {
    width: 110px; 
    height: 110px;
  }
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  position: relative;
  top: -15px;
  h3 {
    font-family: 'Gilroy-Bold';
    font-weight: 600;
    font-size: 20px;
    color: #000;
  }

  p {
    font-family: 'Gilroy-Regular';
    font-size: 13px;
    color: #555;
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 18px;
    }
  }

  @media (max-width: 480px) {
    h3 {
      font-size: 16px;
    }
  }

  @media (max-width: 320px) {
    h3 {
      font-size: 14px;  
    }

    p {
      font-size: 10px; 
    }
  }
}

.product-heart {
  position: relative;
  top: -20px;

  button {
    background: none;
    border: none;
    color: #000;
    
    svg {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    button {
      background: none;
      border: none;
      color: #000;
      
      svg {
        font-size: 16px;
      }
    }
  }

  @media (max-width: 382px) {
    button {
      background: none;
      border: none;
      color: #000;
      
      svg {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 320px) {
    button {
      svg {
        font-size: 12px; 
      }
    }
  }
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -20px;

  h3 {
    font-family: 'Gilroy-Bold';
    font-weight: 600;
    font-size: 18px;
  }

  button {
    background-color: #000;
    color: aliceblue;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;

    svg {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    h3 {
      font-size: 16px;
    }

    button {
      padding: 4px 8px;
      svg {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 320px) {
    h3 {
      font-size: 14px;  
    }

    button {
      padding: 3px 6px;
      svg {
        font-size: 12px; 
      }
    }
  }
}

.section-title {
  text-align: center;
  margin-bottom: 20px;  
  font-family: 'Gilroy-Bold';
  position: relative;
  top: -25px;
  font-family: Gilroy-ExtraBold;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  @media (max-width: 480px) {
    font-size: 24px;
  }

  @media (max-width: 320px) {
    font-size: 20px;  
  }
}
